.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content {
    display: flex;
    width: 90%;
    margin-top: 130px;
    flex-direction: column;

    h1 {
        color: var(--Preto);
        font-size: 33px;
        margin-left: 12px;
    }

    @media (max-width: 659px) {
        margin-top: 100px;

        h1 {
            font-size: 26px;
        }
    }
}

.contentButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(30, 30, 42, 0.2);
    align-items: center;
    padding-bottom: 12px;

    @media (max-width: 659px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.boxButton {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 659px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
}

.buttonCreate {
    background: #09c00f;
    border: none;
    color: var(--Branco2);
    padding: 12px 15px;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.4s;

    @media (max-width: 659px) {
        font-size: 16px;
        width: 100%;
        padding: 6px 0px;
        margin-top: 12px;
    }
}

.icon {
    margin-left: 8px;

    @media (max-width: 659px) {
        width: 16px;
    }
}

.buttonCreate:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.contentCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35px;

    @media (max-width: 659px) {
        justify-content: center;
    }
}

.card {
    display: flex;
    flex-direction: column;
    margin-right: 28px;
    margin-bottom: 26px;
    background: var(--Branco2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    width: 230px;
    justify-content: space-between;
    padding-bottom: 20px;

    p {
        font-size: 18px;
        font-weight: bold;
        color: var(--Preto);
        margin: 12px 8px 0 8px;
    }

    @media (max-width: 659px) {
        width: 84%;
        margin-right: 0px;
    }
}

.imageCard {
    width: 230px;
    height: 170px;
    border-radius: 14px 14px 0px 0px;
    object-fit: cover;

    @media (max-width: 659px) {
        width: 100%;
        height: auto;
    }
}

.buttonClasses {
    background: var(--Cinza);
    border: none;
    color: var(--Branco2);
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.4s;
    margin-right: 22px;

    @media (max-width: 659px) {
        font-size: 16px;
        width: 100%;
        padding: 6px 0px;
        margin-top: 12px;
        margin-right: 0px;
    }
}

.buttonClasses:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}