.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content {
    display: flex;
    width: 90%;
    margin-top: 130px;
    flex-direction: column;

    h1 {
        color: var(--Preto);
        font-size: 33px;
        margin-left: 12px;
    }
}

.contentButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(30, 30, 42, 0.2);
    align-items: center;
    padding-bottom: 12px;
}

.boxButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttonCreate {
    background: #09c00f;
    border: none;
    color: var(--Branco2);
    padding: 12px 15px;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.4s;
}

.icon {
    margin-left: 8px;
}

.buttonCreate:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.contentCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px 14px;
    margin-right: 28px;
    margin-bottom: 26px;
    background: var(--Branco2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    width: 260px;
    justify-content: space-between;

    p {
        font-size: 18px;
        font-weight: bold;
        color: var(--Preto);
    }
}

.buttonClasses {
    background: var(--Cinza);
    border: none;
    color: var(--Branco2);
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.4s;
    margin-right: 22px;

    p {
        color: var(--Branco2);
        font-size: 17px;
        font-weight: normal;
    }
}

.buttonClasses:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}