.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content {
    display: flex;
    width: 94%;
    margin-top: 130px;
    flex-direction: row;
    justify-content: space-between;
}

.boxVideo {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.video {
    display: flex;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.boxDescription {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-bottom: 1px solid rgba(30, 30, 42, 0.2);

    h1 {
        font-size: 24px;
        color: var(--Preto);
    }

    p {
        margin-top: 5px;
        font-size: 14px;
        color: var(--Preto);
        margin-bottom: 12px;
    }
}

.material {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    margin-bottom: 50px;

    h2 {
        font-size: 24px;
        color: var(--Preto);
        margin-bottom: 3px;
    }
}

.boxMaterial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 10px;
    margin-right: 12px;
    background: var(--Branco2);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin-top: 12px;
    align-items: center;
    border: none;

    text {
        font-size: 14px;
        color: var(--Preto);
        margin-left: 10px;
    }
}

.cardVideos {
    background: var(--Branco2);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    width: 25%;
    height: 73vh;
    padding: 10px 10px 0 25px;
}

.scroll {
    overflow-y: auto;
    height: 70vh;
}

.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-track {
    opacity: 0;
}

.scroll::-webkit-scrollbar-thumb {
    background: var(--Cinza2);
    border-radius: 10px;
}

.boxInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgba(30, 30, 42, 0.2);
    margin: 20px 0 0 0;

    h1 {
        font-size: 15px;
        color: var(--Preto);
        font-weight: normal;
        margin-left: 10px;
    }
}

.button {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Branco2);
    border: 1px solid var(--Verde);
    border-radius: 37px;
    margin-right: 12px;
}

.buttonChech {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Verde);
    border: 1px solid var(--Verde);
    border-radius: 37px;
    margin-right: 12px;
}