.content {
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 50%;
    right: auto;
    padding: 30px 30px 0px 30px;
    transform: translate(-50%, -50%);
    background: var(--Branco2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    width: 50%;

    @media (max-width: 659px) {
        width: 80%;
        padding: 25px 25px 0px 25px;
    }
}

.containerButton {
    justify-content: flex-end;
    display: flex;
}

.icon {
    color: var(--Cinza);
}

.contentForm {
    display: flex;
    flex-direction: column;

    h1 {
        color: var(--Preto);
        font-size: 25px;
        font-weight: normal;
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    textarea {
        min-height: 80px;
        resize: none;
        padding: 0.5rem;
    }

    select {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        margin-bottom: 1rem;
        color: var(--Preto);
        background: var(--Branco2);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border: none;
        padding: 0 0.5rem;
    }

    h2 {
        color: var(--Preto);
        font-size: 25px;
        font-weight: normal;
        margin-bottom: 15px;
        margin-top: 30px;
    }

    h5 {
        color: var(--Preto);
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 8px;
        margin-top: 10px;
    }
}

.input {
    border-radius: 8px;
    margin-bottom: 1rem;
    color: var(--Preto);
    background: var(--Branco2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
    height: 40px;
    padding: 0 0.5rem;
}

.buttonAdd {
    border-radius: 8px;
    height: 40px;
    border: 0;
    background-color: #09c00f;
    transition: 0.4s;
    margin-top: 28px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    p {
        color: var(--Branco2);
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.buttonAdd:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.labelAvatar {
    color: var(--Preto);
    background: var(--Branco2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
    margin-bottom: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 10px 0;
    flex-direction: column;

    input {
        display: none;
    }

    span {
        opacity: 0.7;
        transition: all 0.7s;
    }

    span:hover {
        opacity: 1;
        transform: scale(1.2);
    }
}

.boxFiles {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 10px;

    h1 {
        color: var(--Cinza);
        font-size: 13px;
        font-weight: lighter;
    }
}

.boxInput {
    display: flex;
    margin-top: 18px;
}

.inputSearch {
    background: var(--Branco2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px 0px 0px 8px;
    border: none;
    height: 42px;
    width: 100%;
    padding-left: 10px;
    font-size: 14px;
    color: var(--Cinza2);
}

.buttonSearch {
    display: flex;
    align-items: center;
    background: var(--Branco2);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-left: 1px solid #E1E1E1;
    padding: 0 12px;
    border-radius: 0px 8px 8px 0px;
}

.icon {
    color: var(--Verde);
}