.button {
    max-width: 600px;
    background-color: var(--Cinza);
    border: 0;
    padding: 0.4rem;
    color: var(--Branco);
    margin-top: 1rem;
    border-radius: 5px;
    transition: filter 0.2s;

    &[disabled]{
        cursor: not-allowed;
        svg{
            animation: animate 2s infinite;
        }
    }

    &:hover {
        filter: brightness(1.08)
    }
}

.buttonText {
    color: var(--Branco);
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}