.button {
  background-color: var(--Azul);
  border: 0;
  padding: 0.4rem;
  color: var(--Branco);
  margin-top: 1rem;
  border-radius: 5px;
  transition: filter 0.2s;

  &[disabled] {
    cursor: not-allowed;

    svg {
      animation: animate 2s infinite;
    }
  }

  &:hover {
    filter: brightness(1.08);
  }
}

.icon {
  color: var(--Verde);
}

.buttonText {
  color: var(--Branco);

  @media (max-width: 620px) {
    font-size: 13px;
  }
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
