.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content {
    display: flex;
    width: 80%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    margin-top: 130px;
    padding: 40px;
    flex-direction: column;
    margin-bottom: 50px;

    h1 {
        color: var(--Preto);
        font-size: 26px;
    }

    @media (max-width: 659px) {
        padding: 15px;
        width: 83%;
        margin-top: 100px;
    }
}

.boxInfo {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;

    p {
        font-size: 18px;
        line-height: 20px;
        color: var(--Preto);
    }

    img {
        width: 58%;
        height: auto;
        border-radius: 18px;
        margin-top: 30px;
    }

    @media (max-width: 659px) {
        margin-top: 20px;

        img {
            display: none;
        }
    }
}

.boxButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 26px;
}

.button {
    background: var(--Cinza);
    border-radius: 8px;
    border: none;
    color: var(--Branco2);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 9px 13px;
    transition: 0.4s;
}

.button:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}