.container {
    display: flex;
    width: 100%;
    justify-content: center;
    background: url("../../../public/payment.png") no-repeat fixed center;
    background-size: 100% auto;
    height: 100vh;

    @media (max-width: 659px) {
        background: url("../../../public/payment-mobile.png") no-repeat fixed center;
        background-size: 100% 100vh;
        height: 100%;
    }
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    @media (max-width: 659px) {
        flex-direction: column;
        justify-content: none;
    }
}

.card {
    display: flex;
    background: rgba(211, 211, 211, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    padding: 0px 34px;
    flex-direction: column;
    height: 600px;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(8px);
    margin-right: 18px;
    margin-left: 18px;

    @media (max-width: 659px) {
        padding: 15px 0px;
        margin-top: 30px;
        margin-bottom: 32px;
        height: 565px;
        width: 95%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.boxInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;

    h1 {
        font-size: 20px;
        color: var(--Branco2);
        margin-top: 10px;
        font-weight: normal;
    }

    @media (max-width: 659px) {
        margin-top: 20px;
    }
}

.boxButton {
    display: flex;
    width: 100%;
    margin-bottom: 36px;

    @media (max-width: 659px) {
        width: 90%;
    }
}

.button {
    background: var(--Verde);
    border-radius: 8px;
    border: none;
    color: var(--Branco2);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 9px 13px;
    width: 100%;
    transition: 0.4s;
}

.button:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.boxValue {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;

    text {
        margin-top: 25px;
        font-size: 18px;
        color: var(--Branco2);
    }

    strong {
        margin-top: 5px;
        font-size: 38px;
        color: var(--Verde);
    }

    p {
        margin-top: 3px;
        font-size: 18px;
        color: var(--Branco2);
    }
}

.boxDescription {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.description {
    display: flex;
    margin-left: 15px;
    width: 300px;

    text {
        font-size: 18px;
        color: var(--Branco2);
    }

    @media (max-width: 659px) {
        width: 260px;
    }
}