.input {
  margin-bottom: 1rem;
  border: 0;
  background-color: var(--Branco3);
  color: var(--Cinza);
  padding: 1rem;
  border-radius: 5px;
  font-size: 14px;

  @media (max-width: 620px) {
    font-size: 12px;
  }
}

.input::placeholder {
  color: var(--Preto);
}
