.input {
    margin-bottom: 1rem;
    height: 40px;
    border: 0;
    border-bottom: 1px solid var(--Cinza);
    background-color: var(--Branco);
    color: var(--Cinza);
    padding: 1rem;
}

.input::placeholder{
    color: var(--Preto);
}