@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
    font-family: 'Barlow', sans-serif;
}

:root {
    --Branco: #e9e9e9;
    --Branco2: #ffffff;
    --Branco3: #E1E1E1;
    --Branco4: #cacaca;
    --Preto: #1e1e2a;
    --Verde: #10b2aa;
    --Cinza: #3d424a;
    --Cinza2: #AAAAAA;
    --Cinza3: #757575;
    --Vermelho: #F00
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background: var(--Branco);
}

body,
input,
textarea,
select,
button {
    font: 400 1rem sans-serif; // 1rem = 16px
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%; // vai gerar 14px
    }
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%; // vai gerar 15px
    }
}