.containerCenter {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Branco);
}

.login {
    margin-top: 2rem;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1.5rem;

    p{
        color: var(--Cinza);
        padding-bottom: 1rem;
        font-size: 25px;
        font-weight: bold;
    }

    form {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    form button {
        height: 40px;
        font-size: 1.2rem;
    }
}

.text {
    margin-top: 1.4rem;
    color: var(--Verde);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 620px) {
    .login {
        width: 90%;
    }
}