.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-top: 130px;
}

.boxTitle {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    align-items: center;

    h1 {
        color: var(--Preto);
        font-size: 33px;
        margin-left: 12px;
    }
}

.boxInput {
    display: flex;
    margin-left: 22px;

    input {
        background: var(--Branco2);
        border: 1px solid var(--Branco3);
        border-radius: 8px 0px 0px 8px;
        border: none;
        height: 42px;
        width: 380px;
        padding-left: 10px;
        font-size: 14px;
        color: var(--Cinza2);
    }
}

.buttonSearch {
    display: flex;
    align-items: center;
    background: var(--Branco2);
    border: none;
    border-left: 1px solid #E1E1E1;
    padding: 0 12px;
    border-radius: 0px 8px 8px 0px;
}

.icon {
    color: var(--Verde);
}

.boxCard {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: var(--Branco2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin: 25px 10px 0 10px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.imageCard {
    width: 260px;
    height: 200px;
    border-radius: 14px 14px 0px 0px;
    object-fit: cover;
}

.descriptionCard {
    display: flex;
    width: 90%;
    margin-top: 14px;
    flex-direction: column;

    p {
        font-size: 15px;
        line-height: 18px;
        color: var(--Cinza);
    }
}

.course {
    border-left: 1px solid var(--Verde);
    margin: 45px 0 20px;

    p {
        margin-left: 6px;
        color: var(--Verde);
        font-size: 14px;
    }
}