.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-top: 130px;
}

.content {
    display: flex;
    width: 90%;
    margin-top: 130px;
    flex-direction: column;
    margin-bottom: 22px;

    @media (max-width: 659px) {
        margin-top: 100px;
    }
}

.boxTitle {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    align-items: center;

    h1 {
        color: var(--Preto);
        font-size: 33px;
        margin-left: 12px;
    }

    @media (max-width: 659px) {
        h1 {
            font-size: 26px;
            margin-left: 0px;
            margin-bottom: 12px;
        }
    }
}

.boxCard {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    @media (max-width: 659px) {
        margin-top: 2px;
    }
}

.card {
    display: flex;
    padding: 10px 18px;
    width: 65%;
    align-items: center;
    background: var(--Branco2);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-top: 20px;
    transition: .4s;
    border: none;

    text {
        font-size: 18px;
        margin-left: 14px;
        color: var(--Preto);
    }

    @media (max-width: 659px) {
        width: 100%;
    }
}

.card:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}